*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.3px;
    background-color:#D8EDF2;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.negrita{
    width: 100%;
    height: 27px;
    background-color: rgb(0, 0, 0);
    
}
.menu{
    width: 100%;
    height: 122px;
    display: flex;
    flex-direction: column;
    background-color: #D8EDF2;
}
/* menu donde va el logo , aqui vamos a poner y un input */
.menu-titulo{
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background-color: #D8EDF2;
}
.logo{
    width:160px ;
    height: 100%;
}
.logo-imagen{
    width: 100%;
    height: 100%;
}
/* input */
.buscador{
    width:550px ;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buscador-header{
    width: 90%;
    height: 30px;
    padding: 10px;
    display: flex;
    border-radius: 20px;
    border: 0.5 solid black;
    background-color: #D8EDF2;
}

/* carrito de compra */
.carrito{
    width:79px ;
    height: 30px;
    display: flex;
    
}

.vacio{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #D8EDF2;
    color: red;
}
.circulo-rojo{
    border-radius: 50px;
    padding: 3px;
    padding-top: 7px;
    padding-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: red;
}
.circulo-rojo:hover{
    background-color: #CC72F2;
    cursor: pointer;
}

/* menu bajo */
.menu-bajo{
    width: 100%;
    height: 56.5px;
    
    background-color: #D8EDF2;
}
.menu-ul{
    width: 100%;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}
.cursor:hover{
    width: 30px;
    padding: 5px;
    color: white;
    box-shadow: 1px 1px 1px 1px;
    background-color: red;

}
.vertical{
    display: flex;
    gap: 40px;
    list-style: none;
}
.puntos:hover{
    padding: 5px;
    box-shadow: 1px 1px 1px 1px;
    background-color: red;
    color: white;
    cursor: pointer;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:27px;
}
.contenedor-cuadros{
    width: 100%;
    height:320px;
    gap: 60px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D8EDF2;
}
.menu-vertical{
    width: 187px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 30px;
    background-color: #D9D5F2;
}
.lista-menuv{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 45px;
    
}
.tema{
    font-size: 20px;
    font-weight: bold;
    font-style: inherit;
    
}
ul a{
    text-decoration: none !important; 
    color: inherit; 
}
ul a:hover{
    padding: 2px;
    box-shadow: 1px 1px 1px 1px;
    background-color: red;
    color: white;
    cursor: pointer;
}
.alargar:hover{
    width: 150px !important;
}

.imagen-muestra{
    width: 660px;
    height: 100%;
    
}
.foto-minidonas{
    width: 100%;
    height: 100%;
}
/* se va hacer los productos destacados en esta zonas */
.destacado{
    width: 100%;
    height: 420px;
    display: flex;
    gap: 60px;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    background-color: red;
}
.destacado1{
    width: 187px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 30px;
    background-color: #CC72F2;
}
.obciones-menuses{
    width: 660px;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: #CC72F2;
}
.cadena-imagenes{
    width: 100%;
    height: 150px;
    display: flex;
    gap: 20px;
    background-color: antiquewhite;
}
.contenedores-total{
    width: 33%;
    height: 100%;
}
.mis-productos{
    width: 100%;
    height:200px;
    background-color: black;
}
.contenedores-imag{
    width: 100%;
    height: 75%;
    display: flex;
    gap: 10px;
}
.productos-buenos{
    width: 33%;
    height: 70%;
}
.productos-buenos1{
    width: 100%;
    height: 100%;
    gap: 5px;
}
.contenedor-descricion{
    width: 100%;
    height: 25%;
    display: flex;
    gap: 10px;
    background-color: #CC72F2;
}
.precio-detalle{
    display: flex;
    background-color: aqua;
}